#!/bin/bash

function  main () {

local   current_srcfile=${BASH_SOURCE:-$0}
local   script_dir=$(readlink -f "$(dirname "${current_srcfile}")")

echo  "current_srcfile = ${current_srcfile}"
echo  "script_dir = ${script_dir}"

local   test

test=999
local   helper_local_val=222
func_test_val=456

}

main
